@keyframes fadein {
    from {opacity: 0;}
    to{opacity: 1;}
}

body{
    background-color: #262626;
    color-scheme: dark;
    width: 100%;
    margin: 0;
}

h1{
    font-size: 60px;
    color: #e6e9ec;
    font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
h2{

    color: #e6e9ec;
    font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
h3{
    color: #e6e9ec;
    font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
h4{

     color: #e6e9ec;
     font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
 }
h5{

      color: #e6e9ec;
      font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
h6{

       color: #e6e9ec;
       font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

img{
    width: 250px;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
video{
    width: 250px;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.container_1{
    width: 40vw;
    height: 40.5vw;
    margin: 0 auto;
    background-color: #ff0000;
    border: 0.3vw black solid;
    border-radius: 0.2vw;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    .box_1{
        background-color: #ffffff;
        width: 20%;
        height: 15%;
        border-bottom: 0.3vw black solid;
        border-right: 0.3vw black solid;
        float: none;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .box_2{
        background-color: rgb(255, 255, 255);
        width: 20%;
        height: 70%;
        border-bottom: 0.3vw black solid;
        border-right: 0.3vw black solid;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    .box_3{
        background-color: #f88017;
        width: 20%;
        height: 15%;
        border-right: 0.3vw black solid;
        float: left;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    .box_4 {
        background-color: #ffffff;
        width: 15%;
        height: 10%;
        border-right: 0.3vw black solid;
        border-top: 0.3vw black solid;
        margin-top: -0.25vw;
        float: left;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    .box_5{
        background-color: #ffffff;
        width: 15%;
        height: 5.8%;
        border-right: 0.3vw black solid;
        border-top: 0.3vw black solid;
        margin-top: 3.75vw;
        margin-left: -6vw;
        float: left;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    .box_6{
        background-color: #ffffff;
        width: 50%;
        height: 15%;
        border-right: 0.3vw black solid;
        border-bottom: 0.3vw black solid;
        margin-top: -34.4vw;
        margin-left: -6vw;
        float: left;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    .box_7{
        background-color: #63aeec;
        width: 30%;
        height: 15%;
        border-bottom: 0.3vw black solid;
        margin-top: -34.4vw;
        margin-left: 14vw;
        float: left;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    .box_8{
        background-color: #ffffff;
        width: 15%;
        height: 15.7%;
        border-right: 0.3vw black solid;
        border-top: 0.3vw black solid;
        margin-top: -0.25vw;
        float: left;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    .box_9{
        background-color: #ffffff;
        width: 25%;
        height: 15.7%;
        border-right: 0.3vw black solid;
        border-top: 0.3vw black solid;
        margin-top: -0.25vw;
        float: left;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
    .box_10{
        background-color: #ffffff;
        width: 25%;
        height: 15.7%;
        border-top: 0.3vw black solid;
        margin-top: -0.25vw;
        float: left;
        box-sizing: border-box;
        animation-name: fadein;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }
}

.header_bar{
    color-scheme:dark;
    background-color: #424242;
    margin: 0;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 60px;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.img1{
    width: 400px;
    height: 400px;
    border: 5px solid black;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.div1{
    font-size: 25px;
    font-family: "Book Antiqua", serif;
    color: #e6e9ec;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

a{
    font-size: 25px;
    color: #e6e9ec;
    font-family: "Book Antiqua", serif;
    text-decoration: none;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

a:link{
    color: #a14949;
}
a:hover {
    color: grey;
}