@keyframes fadein {
    from {opacity: 0;}
    to{opacity: 1;}
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
}

h1{
    font-size: 45px;
    color: #e33a6d;
    font-family: "Brush Script MT", cursive;
    text-align: center;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    height: 10px;
}

h2{
    font-size: 35px;
    text-align: center;
    font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

h3{
    font-size: 30px;
    color: #e33a6d;
    font-family: "Book Antiqua", serif;
    text-align: center;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

h4{
    font-size: 27px;
    color: #e6e9ec;
    margin-left: 6%;
    font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

h5{
    font-size: 23px;
    color: #e33a6d;
    font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

h6{
    font-size: 20px;
    margin-top: 15px;
    margin-right: 300px;
    font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

p{
    font-size: 20px;
    text-align: center;
    font-family: "Book Antiqua", serif;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

a{
    font-size: 25px;
    color: #e6e9ec;
    font-family: "Book Antiqua", serif;
    text-decoration: none;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

a:link{
    color: #482e2e;
}
a:hover {
    color: grey;
}

#start{
    width: 80%;
    float: left;
    height: 110vh
}

#container {
    float: right;
    width: 20%;
    height: 110vh;
    background-color: #181818;
    color: #e6e9ec;
}

#bigggcontainer{
    float: right;
    background-color: #181818;
    width: 100%;
    height: 700vh;
    color: #e6e9ec;
}

#endcontainer{
    float: right;
    margin-top: 40vh;
    background-color: #1c2026;
    width: 100%;
    height: 70vh;
    color: #e6e9ec;
}

#nn{
    float: left;
    height: 100%;
    width: 50%;
    border-radius: 0 0 0 80px;
}

#a{
    animation: spin 0.01ms linear infinite;
}

.header_bar{
    height: 4vh;
    position: fixed;
}

.specialteitboxleft{
    float: left;
    text-align: center;
    margin-left: 20%;
    width: 30vw;
    height: 30vh;
    background-color: #1c2026;
    border-radius: 10px 0 0 80px;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.specialteitboxright{
    float: right;
    text-align: center;
    margin-right: 20%;
    width: 30vw;
    height: 30vh;
    background-color: #1c2026;
    border-radius: 0 10px 80px 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.abtus{
    width: 60vw;
    height: 60vh;
    margin-top: 70%;
    margin-left: 20%;
    background-color: #1c2026;
    border-radius: 0 80px 0 80px;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.favorietenbox{
    border-radius: 0 80px 0 0;
    float: left;
    margin-left: 10%;
    width: 20vw;
    height: 40vh;
    background-color: #1c2026;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.favimg{
    width: 100%;
    height: 100%;
    z-index: 10;
}

.favdiv{
    width: 90%;
    margin-top: -45.3%;
    z-index: 20;
    position: relative;
    height: 32%;
    background-color: #1c2026;
    border-radius: 0 60px 0 0;
}
.fav_text{
    text-align: left;
    margin-left: 6%;
}
.menu{
    width: 40vw;
    height: 70vw;
    margin-top: 47%;
    border-radius: 80px 80px 0 0;
    background-color: #1c2026;
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.h3l{
    margin-left: 6vw;
    margin-bottom: 0;
    text-align: left;
    float: left;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.h5r{
    float: right;
    margin-bottom: 0;
    margin-right: 6vw;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}